<h1>Poster-gram</h1>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <div class="name"> Ben Walker
        <p>
            <%= link_to (image_tag post.image.url(:medium), class: 'img-responsive'), posts_path(post) %>
        </p>
      </div>
    </div>
  </div>
  <%= post.caption %>

<% end %>

<%= link_to 'Make a New Post', new_post_path%>
