<h1>New post</h1>
<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |form| %>
  <div class="form-group">
    <%= form.input :image %>
    <div class="form-group text-center">
        <%= form.input :caption %>
        <div class="form-group text-center">
            <%= form.button :submit, class: 'btn-success' %>
        </div>
    </div>
  </div>
  <% end %>
</div>
